* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Vollkorn', serif;
  font-weight: normal;
  line-height: 1.7;
  color: #777;
}

.headerPage {
  height: 100vh;
  background: linear-gradient(110deg, #dfbb51 50%, #be5252 50%);
}

.headingImage {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  filter: drop-shadow(3px 3px 5px #000000);
}

.headingTitle {
  position: absolute;
  left: 50%;
  top: 19%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 10px;
}
