@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body,
html {
  font-family: 'montserrat';
  margin: 0;
  a {
    text-decoration: none;
  }
}

header {
  padding: 2em;

  .logo {
    color: black;
    font-weight: bold;
  }

  .burger {
    width: 30px;
    float: right;
    cursor: pointer;
  }
}

section {
  padding: 4em;

  h1 {
    font-size: 4em;
    margin: 1em auto;
    width: 50%;
    text-align: center;

    &::before {
      content: '';
      border-top: 5px solid rgb(80, 80, 80);
      display: block;
    }
  }
}

nav {
  position: absolute;
  background: black;
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100% - 4em);
  display: none;
  transform-origin: right;

  .closeButton {
    width: 30px;
    float: right;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    margin: 10% auto 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
    width: 80%;

    a {
      color: white;
      font-weight: bold;
      font-size: 1.4rem;
    }

    span {
      color: white;
      font-size: 0.8rem;
      display: block;
      margin-top: 10px;
    }
  }
}

.showMenu {
  display: block;
  animation: slideMenu 1s ease-in;

  .closeButton {
    animation: showCross 1s 1s forwards;
  }
}

@keyframes slideMenu {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes showCross {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
