* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Vollkorn', serif;
  font-weight: normal;
  line-height: 1.7;
  color: #777;
}

a {
  text-decoration: none;
  margin: 0;
  color: rgb(189, 186, 186);
}

.headerPage {
  height: 100vh;
  background-color: black;
  background-image: url('./binding-dark.png');
}

.navbar {
  height: 80px;
}

.links {
  display: inline-block;
  float: right;
  margin-right: 30px;
  height: 80px;
}

.link {
  display: inline-block;
  margin-top: 35px;
  margin-left: 20px;
  text-transform: uppercase;
}
