* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Vollkorn', serif;
  font-weight: normal;
  line-height: 1.7;
  color: #777;
}

.headerPage {
  height: 100vh;
  background-color: black;
  background-image: url('./binding-dark.png');
}
